/target/
target/test-classes/com/unipro/test/framework/PageObject.class
target/test-classes/com/unipro/test/framework/PageObject.class
target/test-classes/com/unipro/test/step_definitions/unixpo/TerminialPageSteps.class
target/test-classes/com/unipro/test/step_definitions/unixpo/TerminialPageSteps.class
*.class
target/test-classes/com/unipro/test/framework/PageObject.class
target/test-classes/com/unipro/test/step_definitions/unixpo/TerminialPageSteps.class
target/test-classes/com/unipro/test/framework/PageObject.class
target/test-classes/com/unipro/test/step_definitions/unixpo/TerminialPageSteps.class
*.class
target/classes/META-INF/MANIFEST.MF
